@media only screen and (min-width: 1550px) {

.masthead.masthead-article.masthead-article-page {height: 600px;}
.article-content {margin-top: -205px;}

.next-article {top: 240px;}
.previous-article {top: 240px;}

}

@media only screen and (max-width: 1034px) {

	.next-article,
	.previous-article {display: none;}

}

@media only screen and (max-width: 980px) {

	.social-sticky {display: none;}
	.main-article-rollup {width: 700px;}
	.article-rollup {width: 50%;}


	.masthead-article-rollup h2 {font-size: 48px;}
	.masthead-article-rollup h3 {font-size: 35px; line-height: 34px;}
	
	h1.title {font-size: 48px; line-height: 48px;}

}

@media only screen and (max-width: 960px) {

	.container-960 {width: 100%;}
	.main-article-rollup {width: 700px;}
	.section-archive .container-900 {width: auto; padding: 20px;}
	.navigation li.archive ul {left: 0; width: 100%;}
	
}

@media only screen and (max-width: 900px) {

	.container-900 {width: 100%;}
	.article-archive .container-850.section-archive-carousel {width: auto;}

}

@media only screen and (max-width: 870px) {

	.container-850 {width: 100%;}
	.article-content {top: 0;}

	
}

@media only screen and (max-width: 860px) {

	a.burger {display: block;}	
	a.search {float: right; position: inherit; right: auto; top: auto;}

	.navigation-inner > ul {padding-top: 50px; display: none;}
	.navigation ul li {background-color: #262626; border-top: 1px solid #333333; min-height: 50px; display: block; margin: 0;}
	.navigation ul li a {border: none; display: block; height: auto;}
	.navigation > ul > li > a:hover {border: none;}
	.navigation .archive-button {position: inherit;  background: none; padding: 0; margin-bottom: 0;}
	.navigation .archive-button:hover, .navigation .archive-open {background-color: inherit;}
	.navigation .nav-dropdown ul li:first-child {border: inherit;}

	.navigation .nav-dropdown ul {position: inherit;}
	.navigation .nav-dropdown ul li {background: none;}

	.navigation .nav-archive {margin: 0; padding: 0; background: #032442}
	.nav-archive-carousel .article-rollup-image {display: none;}
	.nav-archive-carousel .spacing {padding: 0;}

	.navigation .nav-archive .container-900 {padding: 0; height: auto; }
	.navigation li.archive ul {position: relative; top: 0;}
	.nav-archive-carousel .article-rollup {width: 100%; border-top: 1px solid #333333; min-height: 50px; display: block; margin: 0;}
	.nav-archive-carousel .article-rollup:first-child {border: none;}
	.nav-archive .left-arrow, .nav-archive .right-arrow {display: none;}
	.navigation .section-archive-carousel {position: relative; height: auto; left: 0; top:0; margin: 0;}
	.navigation .section-archive-carousel > div {width: 100% !important; position: relative; overflow: hidden;}
	.navigation .section-archive-carousel .article-rollup-title {line-height: 50px; padding: 0;}

	
}

@media only screen and (max-width: 850px) {

	.container-850 {width: 100%;}
	h1.title {font-size: 60px; line-height: 60px;}
	
}

@media only screen and (max-width: 800px) {

	.container-800 {width: 100%;}
	.masthead.masthead-article.masthead-article-page {height: 250px;}
	
}

@media only screen and (max-width: 750px) {
	
	/*.container-700.section-issue {width: 80%;}*/
	.main-article-rollup {width: 100%;}

}

@media only screen and (max-width: 700px) {

	.container-700 {width: 100%;}
	.section-issue-welcome-text {float: none; width: auto;}

}

/*@media only screen and (min-width: 700px) {
	.navigation .nav-dropdown:hover ul {display: block !important;}
}*/

@media only screen and (max-width: 600px) {

	.article-rollup .article-rollup-image {height: 160px;}
	.spacing {padding: 15px;}

	.container-600 {width: 100%;}
	
	.social-break {display: none;}

	.article-content .social {margin-top:0; width: 100%;}
	.article-content .social .like, 
	.article-content .social .share, 
	.article-content .social .rate {width: 100%; padding-left: 0; padding-right: 0; float: none; text-align: center; margin: 10px 0;}
	.article-content .share-button {float: none;}
	.article-content .share-options {left: 0; right: 0; top: 0; position: relative;}
	.article-content .social .share {margin-bottom:0;}

	.article-body .size-medium {width: 200px; margin-bottom: 10px;}

	.search-box {top: 70px; margin-left: auto; right: 20px; width: 300px; left: auto;}
	.search-box input#s {width: 230px;}

	.article-body blockquote {width: 100%; margin: 0px 10px 10px 10px;}

}

@media only screen and (max-width: 480px) {

	.article-rollup .article-rollup-image {height: 190px;}
	.spacing {padding: 15px;}
	.article-content {padding-top: 0;}
	.main-article-rollup {width: 70%;}
	.article-rollup {width: 100%;}

	.masthead-article-rollup h2 {font-size: 32px; line-height: 30px;}
	.masthead-article-rollup h3 {font-size: 30px; line-height: 30px;}
	.masthead:not(.masthead-article) {display: none;}
	.masthead-article {margin-top: 50px; display: block;}
	.section-issue {margin-top: 0;}

	.category-homepage .navigation {position: fixed; top: 0;}
	.section-header {margin: 0 0 30px 0;}
	h1.title {font-size: 45px; line-height: 38px; text-align: left;}
	h3.standfirst {font-size: 20px; margin: 10px 0;}
	h2.title {text-align: left;}
	.article-body {margin-top: 20px;}

	.article-body .size-medium {width: 100%; margin-bottom: 10px;}

	.similar-articles a.article-rollup {width: 100%;}

	.article-body img {width: 100%; padding: 0; height: auto;}

	.video-controls {display: none;}

	.searchpage .searchresult .article-rollup-image {height: 60px; width: 60px;}

	.section-issue-welcome-image {width: 70px; height: 96px; margin-right: 10px; padding: 0}

	.masthead-article-rollup {padding-top: 15px;}


	.section-header.issue-bar h1 { float: right; padding-right: 10px; }
}

@media only screen and (max-width: 320px) {

	.article-rollup .article-rollup-image {height: 130px;}
	.main-article-rollup {width: 90%;}
	.article-rollup {width: 100%;}

	.masthead-article-rollup a {margin: 15px;}

	.search-box {width: 265px;}
	.search-box input#s {width: 195px;}

	.navigation-inner > ul > li > a, 
	.navigation .archive-button,
	.nav-archive-carousel .article-rollup,
	.section-archive .slick-next h3,
	.section-archive .article-rollup-title h3 {line-height: 30px; min-height: 30px;}

	.navigation ul li {min-height: 30px;}
	
}