body {
    font-size: 14px;
}

a {
    text-decoration: none;
    color: $linkColor;
    &:hover {
        color: $linkHover
    }
}

input {
    max-width: 100%;
}

.container {
    width: 86%;
    max-width: 1024px;
}

@media (max-width: 400px) {
    .container {
        width: 100%;
    }
}

/********** Header **********/

#header {
    margin: 10px 0 0;
    .issue {
        line-height: 68px;
        font-size: 1.1em;
        color: #333;
        text-transform: uppercase;
        letter-spacing: 1px;

        &.issue--archive {
            cursor: pointer;
        }

        .issue-archive-icon {
            background-image: url('../assets/images/chevron-down.svg');
            background-position: center;
            background-repeat: no-repeat;
            width: 15px;
            height: 12px;
            display: inline-block;
            margin-left: 5px;

            body.issue-archive-open & {
                background-image: url('../assets/images/chevron-up.svg');
            }

            html.csstransforms & {
                transform: rotate(0);
                transition: transform 0.4s;
            }

            html.csstransforms body.issue-archive-open & {
                background-image: url('../assets/images/chevron-down.svg');
                transform: rotate(-180deg);
            }
        }
    }

    .issue-archive {
        text-align: center;
        display: none;

        ul {
            padding: 0.5em;
            margin: 0;
            list-style: none;
            background: black;
            margin-top: 0.5em;

            li {
                margin: 0.5em 0;

                a {
                    color: white;
                }
            }
        }
    }
}

/********** Search **********/

#search {
    position: relative;
    border: 1px solid #d1d1d1;
    overflow: hidden;
    height: 38px;
    margin: 1em 0;
    input[type="text"] {
            float: left;
            border-radius: 0;
            border: none;
            margin: 0;
            width: 100%;
            padding: 6px;
            padding-right: 48px;
            box-sizing: border-box;
    }
    input[type="submit"] {
        text-indent: -9999px;
        background: $searchIcon;
        border: none;
        padding: 16px 19px;
        margin: 0;
        top: 0;
        right: 0;
        bottom: 0;
        width: 38px;
        position: absolute;
        border-left: 1px solid #d2d2d2;
        border-radius: 0;
    }

}


/********** NAV **********/
#nav {
    background: $mainBackground;
    ul {
        list-style: none;
        margin: 0;
        padding: 0;

        li {
            display: inline-block;
            margin: 0;
            padding: 0;

            a {
                display: block;
                color: $linkColor;
                padding: 0 20px;
                font-size: 1.1em;
                line-height: 2.5em;

                &:hover {

                }

                &:first-child {
                    padding-left: 0;
                }
            }
        }
    }
}


/********** ROLLUP **********/
.rollup {
    .rollup-image {
        width: 100%;
        @include aspect-ratio(16, 9);

        .ratio-container {
           @include background-size(cover);
        }
    }
    .rollup-content {
        margin: 10px 0;
        h3 {
            font-size: 2em;
            margin: 0;
        }
        p {
            color: $mainColor;
        }
    }
}


/********** MASTHEAD **********/

#masthead {
    @include aspect-ratio(10, 3);

    overflow: hidden;
    position: relative;

    .ratio-container {
       @include background-size(cover);
    }

    .masthead-play {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 70px;
        height: 70px;
        margin-left: -35px;
        margin-top: -35px;
        background-size: cover;
        background-position: center;
        background-image: url('../assets/images/play.svg');
        opacity: 0.6;
        cursor: pointer;
    }

    .masthead-video {
        position: absolute;
        top: 0px;
        left: 0;
        right: 0;
        bottom: 0px;
        background: black;
        
        .mejs-mediaelement {
            text-align: center;
        }

        .mejs-container {
            max-height: 100%;
            background: none;
        }

        video {
            width: 100% !important;
            height: 100% !important;
            max-width: 100% !important;
            max-height: 100% !important;
        }

        .mejs-control,
        .mejs-controls,
        .mejs-overlay-button,
        .mejs-layers {
            display: none !important;
        }
    }

    .masthead-video-controls {
        position: absolute;
        top: 10px;
        right: 50px;
        z-index: 100;
    }

    .masthead-video-controls a {
        display: block;
        background-size: cover;
        background-position: center;
        background-image: url('../assets/images/close.svg');
        width: 30px;
        height: 30px;
        text-indent: 1000px;
        cursor: pointer;
    }

    .masthead-hype, .masthead-hype > div {
        width: 100% !important;
        height: 100% !important;
    }
}

.container--article {
    margin: 3em auto;
}

/********** SIBLING NAV **********/
.article-sibling {
    box-sizing: border-box;
    position: fixed;
    top: 25%;
    padding: 10px;
    z-index: 1000;
    background: #333;
    width: 250px;
    transition: 0.3s;

    .article-sibling-tab {
        position: absolute;
        top: 0;
        width: 30px;
        height: 40px;
        background: #eee;
        background-repeat: no-repeat;
        background-position: center;
        cursor: pointer;
    }

    &.article-sibling--before {
        left: -250px;

        &:hover {
            left: 0;
        }

        .article-sibling-tab {
            right: -30px;
            background-image: url('../assets/images/chevron-left.svg');
        }
    }

    &.article-sibling--after {
        right: -250px;

        &:hover {
            right: 0;
        }
     
        .article-sibling-tab {
            left: -30px;
            background-image: url('../assets/images/chevron-right.svg');
        }
    }

    .article-sibling-content {
        a {
            color: white;
        }
        
        h3 {
            font-size: 2.2rem;
            letter-spacing: 1px;
            margin: 0.5em 0;
        }

        p:last-child {
            margin-bottom: 0;
            color: white;
        }
    }
}


/********** UTILITIES **********/
.u-text-right {
    text-align: right;
}
 
.u-text-center {
    text-align: center;
}