/* Nested Pages */
.nestedpages ol li {
    background-color: #DDDDDD;
}

.nestedpages ol ol { 
    margin-left: 46px;
}

.nestedpages ol li ol .row-inner {
    padding-left: 60px !important;
}


/* ACF */ 
tr:nth-child(odd) > td.order {
    background: #ddd !important;
}
