{% if siblings.before %}
    <div class="article-sibling article-sibling--before">
        <div class="article-sibling-tab"></div>
        <div class="article-sibling-content">
            {% include 'blocks/rollup.twig' with { 'article': siblings.before } only %}
        </div>
    </div>
{% endif %}
{% if siblings.after %}
<div class="article-sibling article-sibling--after">
    <div class="article-sibling-tab"></div>
    <div class="article-sibling-content">
        {% include 'blocks/rollup.twig' with { 'article': siblings.after } only %}
    </div>
</div>
{% endif %}