            <div class="masthead masthead-article" {% if not masthead.video and not masthead.hype %}style="background-image: url('{{masthead.image}}');{% endif %}">
                {% if masthead.video %}
                    <video autobuffer autoplay loop controls="controls">
                        <source src="{{masthead.video}}">
                    </video>
                {% elseif masthead.hype %}
                    {{masthead.hype}}
                {% endif %}
                {% if masthead.home %}
                    <div class="masthead-article-rollup">
                        <div class="masthead-title">
                            <h2>{{masthead.title|raw}}</h2>
                            <h3>{{masthead.excerpt|raw}}</h3>
                        </div>
                        <a title="{{masthead.title}}" href="{{masthead.link}}">READ</a>
                    </div>
                {% endif %}
            </div> <!-- Masthead -->