    <div class="social social-sticky">
        <ul>
            <li><a href="#" class="like {{story.likeClass}}" data-pid="{{story.dataPid}}"></a></li>
            <li>
                <div class="share-button">
                    <a href="" class="share"></a>
                    <div class="share-options">
                        <a class="share-mail" href=""></a>
                    </div>
                </div>
            </li>
            <li><a href="#" class="rate"><?php //if(function_exists('the_ratings')) {the_ratings();} ?></a></li>
        </ul>
    </div>