    <div class="container-960 centered article-container">
        {% if story.prevLink is not empty %}
            <a href="{{story.prevLink}}" class="arrow left-arrow previous-article" title="{{story.prevTitle}}"></a>
        {% endif %}
        {% if story.nextLink is not empty %}
            <a href="{{story.nextLink}}" class="arrow right-arrow next-article" title="{{story.nextTitle}}"></a>
        {% endif %}
        <div class="container-850 centered article-content">
            <div class="spacing">
                <h1 class="title">{{story.title}}</h1>
                <h3 class="standfirst">{{story.standfirst|raw}}</h3>
                <div class="article-body">{{story.content|raw}}</div>
                <hr class="social-break" /> 
                <div class="social">
                    <a href="#" class="like {{story.likeClass}}" data-pid="{{story.dataPid}}">
                        LIKE
                        <div class="like-count">
                            {{story.likeCount}}
                        </div>
                    </a>
                    <div class="share-button">
                        <a href="" class="share">SHARE THIS</a>
                        <div class="share-options">
                            <a class="share-mail" href=""></a>
                        </div>
                    </div>
                    <a href="#" class="rate">RATE THIS<?php //if(function_exists('the_ratings')) {the_ratings();} ?></a>
                    <a href="#" class="clearfix"></a>
                </div>
            </div>
        </div>
    </div>