<div id="header">
    <div class="container">
        <div class="row">
            <div class="three columns">
                ..
                <img src="" alt="" class="header-logo" />
            </div>
            <div class="six columns u-text-center">
                {{ site.issue.title }}
            </div>
            <div class="three columns u-text-right">
                <form  id="search">
                    <input type="text" />
                    <input type="submit" value="Search" />
                </form>
            </div>
        </div>
    </div>