<div id="header">
    <div class="container">
        <div class="row">
            <div class="three columns">
                <a href="{{ site.url }}"><img src="{{ getImage(site.logo, 'logo') }}" alt="" class="header-logo" /></a>
            </div>
            <div class="six columns u-text-center">
                <div class="issue">{{ site.issue.title }}</div>
            </div>
            <div class="three columns u-text-right">
                <form  id="search">
                    <input type="text" />
                    <input type="submit" value="Search" />
                </form>
            </div>
        </div>
    </div>