{% if article.masthead and (article.masthead.image or article.masthead.html or article.masthead.video) %}
    <div id="masthead"  {% if article.masthead.type == 'video' %}data-video="{{ article.masthead.video }}"{% endif %}>
        <div class="ratio-container" {% if article.masthead.type == 'image' or article.masthead.type == 'video' %}style="background-image: url('{{ getImage(article.masthead.image, 'masthead-lazy') }}');" data-background="{{ getImage(article.masthead.image, 'masthead') }}"  data-background-mobile="{{ getImage(article.masthead.image, 'masthead-mobile') }}"{% endif %}>

            {% if article.masthead.html %}
                <div class="masthead-hype">
                    {{ article.masthead.html|raw }}
                </div>
            {% elseif article.masthead.type == 'video' %}
                <div class="masthead-play"></div>
            {% endif %}

        </div>
    </div>
{% endif %}